body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
}

th {
    background: #333;
    color: white;
}
